#header{
    position:fixed;
    height: 100px;
    display:flex;
    width: 100%;
    background: #F7F7F7;
    z-index:9;
    text-align: center;
/*    justify-content: space-between;
*/  }

.nav {
    flex: 1;
    padding: 34px 55px 55px 55px;
    font-size: 34px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #CBCBCB;
} 

.section {
  text-align:center;
/*  padding-left: 15vw;
*/  
  font-size: 55px;
  font-family: 'Source Sans Pro', sans-serif;
  background-size: cover;
  color: #101010;
}

.slide{
    background-size: cover;
}

.content{
  margin:50px
}

.images{
  max-width: 70%;
  height: auto;
  top: 50%;
}

.fullscreen{
  width: 90%;
  height: auto;
}

.worktext {
  text-align:left;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 34px;
  padding-top: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4A4A4A;
}

.worktextlink {
  text-align:left;
  padding-left: 15vw;
  padding-bottom: 34px;
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4A4A4A;
}

#blue.worktext {
  color: #262C7E;
}

/*.projectLink {
  list-style: none; 
  font-size: 1em; 
} 

.projectLink { 
  display: inline-block; 
} */

a {
  position: relative; 
  text-decoration: none; 
  color: #e1e1e1; 
} 

.active a{
  color: #101010;
/*  color: #4A4A4A;
*/}


a:after { 
  content: ""; 
  display: inline-block; 
  position: absolute; 
  left: 0px; 
  bottom: -2px; 
  background-color: #101010; 
  width: 0; 
  height: 3px; 
  transition: all 0.2s; 
  } 

a:hover { 
  color: #101010;
/*  color: #4A4A4A; 
*/} 

a:hover:after,
.active a:after { 
  width: 100%;
}


#slide1{
  background-image: url(AC_2.jpg);
  max-width: auto;
  max-height: 100%; 
  filter: blur(10px);
}

#slide2{
  background-image: url(A5.png);
  max-width: auto;
  max-height: 100%; 
}


@media (max-width: 1200px){
  .section {
    font-size: 34px;
  }
  .nav {
    padding: 24px 34px 34px 34px;
    font-size: 24px;
  } 
}

@media (max-width: 850px){
  .section {
    font-size: 5vw;
  }
  .nav {
    padding: 14px 24px 24px 24px;
    font-size: 18px;
  }
  a:after { 
  height: 1px; 
  } 
  .images{
  max-width: 100%;
}
}



/* PHONES */
/* Portrait */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
 }*/
/* Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
}

@media only screen 
  and (min-width: 1700px) 
  and (max-width: 5000px)
  and (orientation: landscape) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
}*/