
/*#header{
    position:fixed;
    height: 100px;
    display:flex;
    width: 100%;
    background: #F7F7F7;
    z-index:9;
    text-align: center;
}*/

body{
  background-color: #f7f7f7;
}

#header{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background: #101010;
  padding-left: 15vw;
  height: 2em;
  z-index: 9;
}

#footer{
  position:fixed;
  display: flex;
  width: 100%;
  height: 2em;
  background: #101010;
  bottom: 0;
  padding-left: 15vw;

/*  background: #CBCBCB;*/
  z-index: 9;
}

#imggrid {
 /*   width: 925px;
    padding-top: 20px;*/
}

.nav {
    /*flex: 1;
    padding: 34px 55px 55px 55px;*/
    
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    color: #CBCBCB;
    padding: 0.2vw 1vw 0 0;
} 



.section {
  text-align:left;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 34px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  background-size: cover;
/*  color: #829dff;*/
  color: black;
}

#imp{
    justify-content: flex-end;
    padding-right: 15vw;
    text-align: right;
}
#imp a{
    color: #6c6c6c;
}

#imp a:hover{
    color: #CBCBCB;
}

.highlight1 {
  /*background-color: #FFA682; 
  height: 100%;
  width: 100%;
  bottom: -2px;
  left: -2px;
  transition: width 10s;*/

  background-image: linear-gradient(to right, transparent 50%, #e4dfdd 50%);
  animation: highl 0.5s ease-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  background-size: 200%;

}

.highlight2 {
  /*background-color: #FFA682; 
  height: 100%;
  width: 100%;
  bottom: -2px;
  left: -2px;
  transition: width 10s;*/

  background-image: linear-gradient(to right, transparent 50%, #e4dfdd 50%);
  animation: highl 0.7s ease-out;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  background-size: 200%;

}

@keyframes highl {
  from {
    background-position: 0;

  }
  to {
   /* background-size: 100%;*/
    background-position: -100%;
  }
}

.slide{
    background-size: cover;
}

.content{
  margin:50px
}

.images{
  max-width: 70%;
  height: auto;
  top: 50%;
}

/*.teaser{
  height: 20vw;
  width: auto;
  position: absolute;
}*/

.fullscreen{
  width: 90%;
  height: auto;
}

.worktext {
  text-align: left;
  font-size: 54px;
  padding-top: 18px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  color: #FFA682;
}

.worktextlink {
  text-align:left;
  padding-bottom: 34px;
  padding-top: 34px;
  font-size: 34px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  color: #101010;
}

.projectHeadline {
  text-align:left;
  font-size: 34px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  background-size: cover;
  color: black;
}

.credits {
  font-size: 18px;
  color: #CBCBCB
}

.project {
  color: #101010;
}

.smalltext {
  text-align:left;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 12px;
  font-family: 'Space Mono', sans-serif;
  color: #101010;
}

#blue.worktext {
  color: #262C7E;
}

/*.projectLink {
  list-style: none; 
  font-size: 1em; 
} 

.projectLink { 
  display: inline-block; 
} */

a {
  position: relative; 
  text-decoration: none; 
  color: #e1e1e1; 
}
.nav a{
  color: #CBCBCB;
}

.active a{
  color: #FFA682;
/*  color: #4A4A4A;
*/}


a:after { 
  content: ""; 
  display: inline-block; 
  position: absolute; 
  left: 0px; 
  bottom: -2px; 
  background-color: #101010; 
  width: 0; 
  height: 3px; 
  transition: all 0.8s; 
  } 

a:hover { 
  color: #FFA682;
/*  color: #4A4A4A; 
*/} 

a:hover:after,
.active a:after { 
  width: 100%;
}

#bg_one{
  background-image: url(samuel_night.jpg);
  height: auto;
  width: 100%;
}

#bg_two{
  background-image: url(samuel2.gif);
  background-repeat: no-repeat;
  background-size: 60vw;
  background-position: center; 
}

#bg_allgood{
  background-image: url(allgood.gif);
  background-repeat: no-repeat;
  background-size: 70vw;
  background-position: center; 
}

@media (max-width: 1200px){
  .section {
    font-size: 34px;
  }
  .nav {
    padding: 24px 34px 34px 34px;
    font-size: 24px;
  } 
}

@media (max-width: 850px){
  .section {
    font-size: 5vw;
  }
  .nav {
    font-size: 12px;
    padding: 11px 22px 0 0;
  }

  .worktext{
    font-size: 24px;
  }

  .worktextlink{
    font-size: 18px;
  }
  
  #footer{
  height: 44px;

}

  #bg_two{
    background-size: 80vw;
  }

  a:after { 
  height: 1px; 
  } 
  .images{
  max-width: 100%;
}
}



/* PHONES */
/* Portrait */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
 }*/
/* Landscape */
/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
}

@media only screen 
  and (min-width: 1700px) 
  and (max-width: 5000px)
  and (orientation: landscape) {
    .nav {
    font-size: 5.9vw;
    color: red;
    } 
    .section{
    font-size: 10px;
    }
}*/